* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    font-family: 'TildaSans', Arial, sans-serif;
    background-color: rgb(174,136,1);
    height: 100%;
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 300px; /* Увеличиваем размер таблицы */
    height: 200px;
}

td {
    border: 2px solid white; /* Белые границы */
    width: 100px;
    height: 100px;
    text-align: center;
}

.back {
    position: absolute;
    top: 90%; /* Центрируем текст по вертикали */
    left: 10%; /* Центрируем текст по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на 50% по обоим осям для точного центрирования */
    text-align: center;
    z-index: 2;
    color: white; /* Белый текст */
    border: 2px solid white; /* Белая обводка */
    background: transparent; /* Прозрачный фон */
    padding: 10px 20px; /* Отступы */
    font-size: 2rem; /* Размер текста */
    cursor: pointer; /* Курсор в виде указателя */
    transition: 0.3s; /* Плавный переход */
}

.back:hover {
    background: white; /* Белый фон при наведении */
    color: black; /* Черный текст при наведении */
}

.text {
    font-weight: 300;
    position: absolute;
    top: 35%; /* Центрируем текст по вертикали */
    left: 50%; /* Центрируем текст по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на 50% по обоим осям для точного центрирования */
    text-align: center;
    color: white;
    font-size: 1.5rem; /* Размер шрифта (по желанию) */
    z-index: 2; /* Текст будет поверх затемняющего слоя */
    width: 40%;
    line-height: 1.5;
}